.main{
    border: 5px solid #272626;
    width: 400px;
    height: 770px;
    background-color: rgb(143, 167, 168);
    
}
#display{
    border: 2px solid grey;
    margin: 10px 20px;
    width: 89%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 25px;
    font-weight: bolder;
    background-color: lightgrey;

}
.btn{
    width: 90px;
    height: 80px;
    margin: 10px;
    font-size: large;
    font-weight: bold;
    background-color: antiquewhite;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
body{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: gray;
}